<div class="body-container">
<div class="create-order-container">
<h1>Create Order</h1>

<div class="forms-container"
<%= render 'form', order: @order %>
</div>

<%= link_to 'Back', @stock %>
</div>
</div>