/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --primary-color: rgba(63, 15, 255, 1);
  --bg-color: rgba(13, 20, 26, 1);
  --secondary-color: rgba(255, 143, 0, 1);
  --text-color: rgba(255, 255, 255, 1);
  --input-bg-color: rgba(196, 196, 196, 1);
  --secondary-bg-color: rgba(37, 40, 48, 1);
}

/* Reset padding, border, margin */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  background-color: var(--bg-color);
}

body {
  background: var(--bg-color);
}

label {
  color: var(--text-color);
}

a:link,
a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

input {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 30px;
  padding: 5px 1rem;
  width: 150px;
}

.field {
  position: relative;
  transform: translateX(-12px);
}

p {
  color: white;
}

.body-container {
  background: var(--bg-color);
}
