.stockshow-container {
  padding: 2rem;
}

.company-info-container {
  margin-bottom: 2rem;
}

.stockshow-container h4 {
  color: white;
}

.stockshow-container h1 {
  color: var(--secondary-color);
}
